/* this stylesheet is used for viewing blog posts. */

@font-face{
    font-family:'Journal';
    src:url("/assets/JOURNAL.TTF");
}
@font-face{
    font-family:'JP Hand Straight';
    src:url("/assets/jp_hand_straight/JPHST.TTF");
}

:root{
    scrollbar-color:rgba(71, 61, 139, 0.9) #101010;
}

body{
    background-color:black;
    color:#dedede;
    margin:1rem;
    background-image:url("/assets/background-tile.PNG");
    background-attachment:fixed;
    background-size:5rem;
    background-repeat:repeat;
}

@media screen and (max-width:800px){
    body{
        margin:0.125rem 0.5rem 0.125rem 0.5rem;
        .flex-container-general{
            flex-direction:column;
            padding:0;
            gap:0rem;
            width:auto;
            height:auto;
        }
        .nav-window-area{
            position:sticky;
            top:0;
            flex-basis:content;
        }
        .viewport-area-scrollable{
            flex-basis:content;
        }
        .viewport-area-scrollable-2{
            flex-basis:content;
        }
        .viewport{
            height:100%;
            overflow:hidden;
            padding-left:0;
            padding-right:0;
        }
        .viewport p{margin-right:0;}
        .aux-area{
            display:none;
        }
        p{font-size:1.125rem;}
        a{font-size:1.125rem;}
        ul{font-size:1.125rem;}
    }
    body.no-index .window{margin:0;}
    body.no-index .nav-window{position:sticky;width:auto;}
}
@media (prefers-color-scheme: light){
    body{
        background-color:#dadada;
        color:#101010;
        background-image:url("/assets/background-tile-light.PNG");
        a{color:purple;}
        a:hover{background-color:rgba(221,126,221,0.5);}
        .journal-snippet{
            color:rgb(23, 19, 45);
        }
    }
    :root{
        scrollbar-color:rgb(195, 170, 255) #ddd;
    }
}

/* Text styling */
p{
    text-align:justify;
    hyphens:auto;
    font-family:'Times New Roman', Times, serif;
    font-size:1.2rem;
    margin-bottom:0.625rem;
}
ul{
    font-size:1.2rem;
    list-style-type:symbols(cyclic "⋆");
}
ul li{
    line-height:1.5;
}
a{
    color:plum;
    font-family:'Times New Roman', Times, serif;
    text-decoration:none;
}
a:hover{
    background-color:rgba(71,61,139,0.5);
    border-radius:0.25rem;
}
h1{
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.5rem;
    margin-top:1.5rem;
    margin-bottom:0.94rem;
}
h2{
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.25rem;
    margin-top:1rem;
    margin-bottom:0.88rem;
}
h3{
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.2rem;
    margin-top:1rem;
    margin-bottom:0.75rem;
}
header{
    text-decoration-skip-ink: auto;
    text-decoration:underline;
    text-align:center;
    font-family:'Journal', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2rem;
    margin:1.5rem 0 1.25rem 0;
    font-weight:bold;
}

/* flexbox */
.flex-container-general{
    display:flex;
    flex-direction:row;
    width:97vw;
    height:92.5vh;
    gap:0.125rem;
    justify-content:left;
}
.nav-window-area{
    flex-basis:17.5vw;
    padding:0;
}
/* central area where the content is displayed */
.viewport-area-scrollable{
    flex-basis:60vw;
    padding:0;
    overflow:auto;
    scroll-behavior:smooth;
}
.viewport-area-scrollable-2{
    flex-basis:77.5vw;
    padding:0;
    overflow:auto;
}
.viewport-area-scrollable .window{
    height:auto;
}
.aux-area{
    flex-basis:17.5vw;
    padding:0;
}
.aux-area .window{height:100%;}
.aux-area .window .window-content ul {
    padding:0.625rem;
    margin-top:0;
}

.viewport{
    height:87.5%;
    width:100%;
    overflow:auto;
    padding:0.625rem;
}

/* Other things */
.window-content h1{
    scroll-margin-top:5rem;
}
.window-content h2{
    margin-top:1.5rem;
    scroll-margin-top:1.75rem;
}
header{
    scroll-margin-top:7.5rem;
}
.viewport p{
    margin-top:0.125rem;
    margin-right:1rem;
}

.journal-snippet{
    font-family:'Journal';
    color:rgb(212, 201, 248);
}
.aux-window-content p.journal-snippet{
    text-align:justify;
    hyphens:auto;
    font-size:1.75rem;
}

.no-index .window{
    margin-right:10rem;
    margin-left:10rem;
}
.no-index .nav-window{
    width:fit-content;
    position:fixed;
}
.no-index .nav-window-title{padding-right:0.5rem;}